*{
    margin: 0%;
    padding: 0;
}
body{
    background-color: #e3e3e3;
    margin: 0%;
}
.naveg{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    line-height: 35px;

}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#img1{
    border-radius: 40%;
}
#img1div{
    text-align: center;
    height: auto;
}
#fflink{
    text-decoration: none;    
}